:root {
    --color-primary: #1b2727;
    --color-primary-shade: #3c5142;
    --color-secondary: #6b8e4e;
    --color-secondary-shade: #b2c5b2;
   --color-text: #d5dddf;
   --color-red: #E34234;

   --border-radius: 5px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary);
    color: var(--color-text);

    display: grid;
    place-content: center;
}

button {
    background-color: var(--color-secondary);
    color: var(--color-text);
    font-weight: bold;

    border-radius: var(--border-radius);
    border: none;

    padding: 5px;
}

button:hover {
    outline: 3px solid var(--color-text);
}

form.error .form__input {
    outline: var(--color-red) solid 3px;
}

form.error .form__error-message {
    color: var(--color-red);
    display: block;
    margin-bottom: 4px;
}

.form__input {
    border-radius: var(--border-radius);
    border: none;

    padding: 5px;
}

.form__clear-btn:hover {
    outline: 3px solid var(--color-red);
}


.list-container__task-list {
    width: 100%;
    padding: 10px 0;

    border-top: 4px solid var(--color-secondary-shade);
    vertical-align: middle;
}

.list-container__task {
    font-size: 1.5rem;
    list-style: none;
    margin-bottom: .8rem;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
}

.list-container__task input[type="checkbox"] {
    margin: 0;
}

.list-container__task input[type="checkbox"]:checked {
    margin: 0;
}

.list-container__task--incomplete {
    color: var(--color-text);
}

.list-container__task-edit-btn {
    margin-left: auto;
}

.list-container__task-delete-btn:hover {
    outline: 3px solid #E34234;
}



