<h1>register</h1>

<% if (messages.error) { %>
    <%= messages.error %>
<% } %>

<form action="/register" method="POST">
    <label for="username">
        username:
        <input type="text" id="username" name="username">
    </label>


    <label for="password">
        password:
        <input type="text" id="password" name="password">
    </label>

    <button type="submit">register</button>

</form>
<a href="/login">actually, i wanna log in</a>